/* Profile.css */

.profile-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.profile-heading {
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-content {
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
