.cart-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1d837a;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.cart-quantity {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: #ff3d00;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

