/* Estilos para el componente de registro */
.login-container {
    max-width: 400px;
    margin-top: 60px;
    margin: 60px auto 0;
    padding: 35px;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-title {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.login-button {
    padding: 10px 20px;
    background-color: #1d837a;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #36968e;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 15px;
}

.registro{
    margin-top: 20px;
}